#root {
  min-width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: white;
}

@font-face {
  font-family: 'StarTrek';
  src: url('./assets/font/EdgeOfTheGalaxyRegular-OVEa6.otf');
}

@font-face {
  font-family: 'FinalFrontier';
  src: url('./assets/font/FinalFrontierOldStyle-8Pg.ttf');
}